{% load static %}
{% load custom_tags %}

{% block menu %}
    <div class="header-top">
        <a class="logo" href="{% url links_menu.0.href %}"><img src="{% static 'img/logo.svg' %}" alt="logo"></a>
        <nav>
            <ul class="menu">
                <li>
                    <a href="{% url links_menu.0.href %}" class="menu-link
                        {% if request.resolver_match.url_name == links_menu.0.href %}
                            menu-link-active
                        {% endif %}">
                        {{ links_menu.0.title }}
                    </a>
                </li>

                <li>
                    <a href="{% url links_menu.1.href %}" class="menu-link
                        {% if request.resolver_match.namespace == links_menu.1.namespace %}
                            menu-link-active
                        {% endif %}">
                        {{ links_menu.1.title }}
                    </a>
                </li>

                <li><a href="#" class="menu-link"> {{ links_menu.2.title }} </a></li>
                <li><a href="#" class="menu-link"> {{ links_menu.3.title }} </a></li>

                <li>
                    <a href="{% url links_menu.4.href %}" class="menu-link
                        {% if request.resolver_match.url_name == links_menu.4.href %}
                            menu-link-active
                        {% endif %}">
                        {{ links_menu.4.title }}
                    </a>
                </li>

                {% if user.is_superuser %}
                    <li>
                        <a href="{% url links_menu.5.href %}" class="menu-link">
                            {{ links_menu.5.title }}
                        </a>
                    </li>
                {% endif %}

                {% if user.is_authenticated %}
                    <li>
                        <a href="{% url 'auth:edit' %}" class="menu-link">
                            {{ user.first_name|default:'User' }}
                        </a>
                    </li>
                {% else %}
                    <li>
                        <a href="{% url 'auth:register' %}" class="menu-link">
                            {{ 'sign up' }}
                        </a>
                    </li>
                {% endif %}

                <li>
                    <a href="{% url 'basket:view' %}" class="menu-link">
                        <i class="fas fa-shopping-bag"></i>
                        {% if basket %}
                            <!-- через templatetags -->
                            <!--
                            {{ request.user|basket_total_cost|floatformat:0 }}&#36;
                            ({{ request.user|basket_total_items }})
                            -->
                            <!-- через context processor -->
                            {{ basket.0.total_cost|floatformat:0 }}&#36;
                            ({{ basket.0.total_quantity }})
                        {% endif %}
                    </a>
                </li>

                <li>
                    {% if user.is_authenticated %}
                        <a href="{% url 'auth:logout' %}" class="menu-link"><i class="fas fa-sign-out-alt"></i></a>
                    {% else %}
                        <a href="{% url 'auth:login' %}" class="menu-link"><i class="fas fa-sign-in-alt"></i></a>
                    {% endif %}
                </li>

            </ul>
        </nav>
        <img src="{% static 'img/menu-hamburger.png' %}" class="menu-mini" alt="menu-mini">
    </div>
{% endblock %}