{% load static %}
{% load custom_tags %}

{% block menu %}
    <div class="header-top">
        <a class="logo" href="{% url 'main' %}"><img src="{% static 'img/logo.svg' %}" alt="logo"></a>
        <nav>
            <ul class="menu">

                <!-- Geekshop -->

                <li>
                    <a href="{% url 'main' %}" class="menu-link
                        {% if request.resolver_match.url_name == links_menu.0.href %}
                            menu-link-active
                        {% endif %}">
                        {{ links_menu.0.title }}
                    </a>
                </li>

                <li>
                    <a href="{% url 'products:index' %}" class="menu-link
                        {% if request.resolver_match.namespace == links_menu.1.namespace %}
                            menu-link-active
                        {% endif %}">
                        {{ links_menu.1.title }}
                    </a>
                </li>

                <li><a href="#" class="menu-link"> {{ links_menu.2.title }} </a></li>
                <li><a href="#" class="menu-link"> {{ links_menu.3.title }} </a></li>

                <li>
                    <a href="{% url 'contact' %}" class="menu-link
                        {% if request.resolver_match.url_name == links_menu.4.href %}
                            menu-link-active
                        {% endif %}">
                        {{ links_menu.4.title }}
                    </a>
                </li>

                <!-- Custom admin -->

                {% if user.is_superuser %}
                    <li>
                        <a href="{% url 'admin_custom:categories' %}" class="menu-link">
                            {{ links_menu.5.title }}
                        </a>
                    </li>
                {% endif %}

                <!-- User profile -->

                {% if user.is_authenticated %}
                    <li class="dropdown">
                        <a class="menu-link" href="">
                            {{ user.first_name|default:'User' }}
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="{% url 'auth:edit' %}" class="menu-link">
                                    Account
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'orders:orders_list' %}" class="menu-link">
                                    Orders
                                </a>
                            </li>
                        </ul>
                    </li>
                {% endif %}

                <!-- Basket -->

                <li>
                    <a href="{% url 'basket:view' %}" class="menu-link">
                        <i class="fas fa-shopping-bag"></i>
                        {% if basket %}
                            <!-- через templatetags -->
                            <!--
                            {{ request.user|basket_total_cost|floatformat:0 }}&#36;
                            ({{ request.user|basket_total_items }})
                            -->
                            <!-- через context processor -->
                            {{ basket.0.total_cost|floatformat:0 }}&#36;
                            ({{ basket.0.total_quantity }})
                        {% endif %}
                    </a>
                </li>

                <!-- Auth -->

                <li>
                    {% if user.is_authenticated %}
                        <a href="{% url 'auth:logout' %}" class="menu-link"><i class="fas fa-sign-out-alt"></i></a>
                    {% else %}
                        <a href="{% url 'auth:login' %}" class="menu-link"><i class="fas fa-sign-in-alt"></i></a>
                    {% endif %}
                </li>

            </ul>
        </nav>
        <img src="{% static 'img/menu-hamburger.png' %}" class="menu-mini" alt="menu-mini">
    </div>
{% endblock %}