{% extends 'authapp/base.html' %}
{% load static %}

{% block content %}

    <div class="d-flex justify-content-center align-items-center container">
        <div class="row ">
            <form action="{% url 'auth:login' %}" method="post">
                <div class="form-group">
                    {% csrf_token %}
                    {% if next %}
                        <input type="hidden" name="next" value="{{ next }}">
                    {% endif %}
                    {{ login_form.as_p }}
                </div>

                <div class="form-group">
                    <input class="btn-primary form-control" type="submit" value="Submit">
                </div>

                <div class="form-group">
                    <a href="{% url 'social:begin' 'vk-oauth2' %}?next=/" class="btn btn-link form-control">
                        ВКонтакте
                    </a>
                    <a href="{% url 'auth:register' %}" class="btn btn-link form-control">
                        Register
                    </a>
                    <a href="{% url 'main' %}" class="btn btn-link form-control last">
                        Home
                    </a>
                </div>
            </form>
        </div>
    </div>

{% endblock %}