{% extends 'adminapp/base.html' %}

{% load static %}


{% block content %}
    <div class="user_delete">
        Are you sure to delete {{ object.categoryname }}?
        <form action="{% url 'admin_custom:category_delete' object.pk %}"
              method="post">
            {% csrf_token %}
            <input class="btn btn-danger" type="submit" value="delete">
        </form>
        <button class="btn btn-success">
            <a href="{% url 'admin_custom:categories' %}">
                Cancel
            </a>
        </button>
    </div>
{% endblock %}