{% extends 'adminapp/base.html' %}

{% load static %}


{% block content %}
    <div class="new_category_form">
        <form class="form-horizontal" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <input class="form-control" type="submit" value="save">
        </form>
    </div>
    <button class="btn">
        <a href="{% url 'admin_custom:products' object.category.pk %}">
            Back
        </a>
    </button>
{% endblock %}