{% extends 'adminapp/base.html' %}

{% load static %}


{% block content %}
    <div class="product_read">
        <div class="product_name">
            Product: &nbsp;<strong>{{ object.category.name|title }}/{{ object.name|title }}</strong>
        </div>
        <img src="/media/{{ object.image|default:'products_images/default.jpg' }}" alt="{{ object.name }}" width="400">
        <div class="summary">
            <b>Price</b>
            {{ object.price }} руб
            <b>Qyantity</b>
            {{ object.quantity }}
            <b>In catalog</b>
            {% if object.is_active %}Yes{% else %}No{% endif %}
            <p>
                <button>
                    <a href={% url 'admin_custom:product_update' object.pk %}>edit</a>
                </button>
                <button>
                    <a href={% url 'admin_custom:product_delete' object.pk %}>delete</a>
                </button>
                <button>
                    <a href={% url 'admin_custom:products' object.category.pk %}>back</a>
                </button>
            </p>
        </div>
        <div class="product_desc">
            <b>short description</b>
            <p>{{ object.short_desc }}</p>
            <br>
            <br>
            <b>description</b>
            <p>{{ object.description }}</p>
        </div>
    </div>
{% endblock %}