{% if object.status == 'FM' %}
    <a href="{% url 'ordersapp:order_forming_complete' object.pk %}"
       class="btn btn-warning btn-round form-control last">
        Place Order
    </a>
    <a href="{% url 'ordersapp:order_delete' object.pk %}" class="btn btn-primary btn-round form-control last">
        Delete
    </a>
{% endif %}

<a href="{% url 'ordersapp:orders_list' %}" class="btn btn-info btn-round form-control last">
    Orders List
</a>
<a href="{% url 'main' %}" class="btn btn-primary btn-round form-control last">
    Geekshop
</a>