{% extends 'mainapp/base.html' %}

{% load static %}

{% block title %}
    {{ title|capfirst }}
{% endblock %}

{% block header %}
    <header class="header grey">
        <div class="container">
            <div class="catalog padding-site">

                {% include 'mainapp/includes/inc_menu.html' %}
                <h1 class="contacts-title">Contact Us</h1>

            </div>
        </div>
    </header>
{% endblock %}

{% block content %}
    <div class="container">
        <section class="contacts-box padding-site">
            <article class="contact-item">
                <img src="{% static 'img/geo-marker.png' %}" alt="marker">
                <h3 class="contact-name">California</h3>
                <div class="contact-value">
                    <h4 class="contact-title">Phone:</h4>
                    <p class="contact-phone">1900 - 1234 - 5678</p>
                </div>
                <div class="contact-value">
                    <h4 class="contact-title">Email:</h4>
                    <p class="contact-email">info@interior.com</p>
                </div>
                <div class="contact-value">
                    <h4 class="contact-title">Address:</h4>
                    <p class="contact-address">12 W 1st St, 90001 Los Angeles, California</p>
                </div>
            </article>
            <article class="contact-item">
                <img src="{% static 'img/geo-marker.png' %}" alt="marker">
                <h3 class="contact-name">California</h3>
                <div class="contact-value">
                    <h4 class="contact-title">Phone:</h4>
                    <p class="contact-phone">1900 - 1234 - 5678</p>
                </div>
                <div class="contact-value">
                    <h4 class="contact-title">Email:</h4>
                    <p class="contact-email">info@interior.com</p>
                </div>
                <div class="contact-value">
                    <h4 class="contact-title">Address:</h4>
                    <p class="contact-address">12 W 1st St, 90001 Los Angeles, California</p>
                </div>
            </article>
            <article class="contact-item">
                <img src="{% static 'img/geo-marker.png' %}" alt="marker">
                <h3 class="contact-name">California</h3>
                <div class="contact-value">
                    <h4 class="contact-title">Phone:</h4>
                    <p class="contact-phone">1900 - 1234 - 5678</p>
                </div>
                <div class="contact-value">
                    <h4 class="contact-title">Email:</h4>
                    <p class="contact-email">info@interior.com</p>
                </div>
                <div class="contact-value">
                    <h4 class="contact-title">Address:</h4>
                    <p class="contact-address">12 W 1st St, 90001 Los Angeles, California</p>
                </div>
            </article>
        </section>
    </div>
{% endblock %}