{% extends 'mainapp/base.html' %}

{% load static %}

{% block title %}
    {{ title|capfirst }}
{% endblock %}

{% block header %}
    <header class="header grey">
        <div class="container">
            <div class="catalog padding-site">

                {% include 'mainapp/includes/inc_menu.html' %}
                <h1 class="contacts-title">Contact Us</h1>

            </div>
        </div>
    </header>
{% endblock %}

{% block content %}
    <div class="container">
        <section class="contacts-box padding-site">
            {% for location in locations %}
                <article class="contact-item">
                    <img src="{% static 'img/geo-marker.png' %}" alt="marker">
                    <h3 class="contact-name">{{ location.name }}</h3>
                    <div class="contact-value">
                        <h4 class="contact-title">Phone:</h4>
                        <p class="contact-phone">{{ location.phone }}</p>
                    </div>
                    <div class="contact-value">
                        <h4 class="contact-title">Email:</h4>
                        <p class="contact-email">{{ location.email }}</p>
                    </div>
                    <div class="contact-value">
                        <h4 class="contact-title">Address:</h4>
                        <p class="contact-address">{{ location.address }}</p>
                    </div>
                </article>
            {% endfor %}
        </section>
    </div>
{% endblock %}