{% extends 'mainapp/base.html' %}

{% load static %}

{% block title %}
    {{ title|capfirst }}
{% endblock %}

{% block header %}
    <header class="header">
        <div class="container">
            <div class="slider padding-site" style="background-image: url(/static/img/slider-img.jpg)">

                {% include 'mainapp/includes/inc_menu.html' %}

                <div class="main-slider-text">
                    <h4 class="slider-h4 green">Trending</h4>
                    <h2 class="slider-h2">Fishnet Chair</h2>
                    <p class="slider-p">
                        Seat and back with upholstery made of cold cure foam. Steel frame, available in matt powder-coated black
                    </p>
                    <a href="#" class="button">order us</a>
                </div>
                <div class="slider-pagination">
                    <a href="#" class="circle"></a>
                    <a href="#" class="circle circle-active"></a>
                    <a href="#" class="circle"></a>
                </div>
            </div>
        </div>
    </header>
{% endblock %}

{% block content %}
    <div class="container">
        <section class="featured-product padding-site">
            <div class="featured-top">
                <div class="featured-tab-control">
                    <a href="#" class="tab-link tab-link-active">Featured</a>
                    <a href="#" class="tab-link tab-link-preactive">New</a>
                </div>
                <a href="#" class="explore">explore all</a>
            </div>
            <div class="product-box">

                {% for product in products %}
                    <div class="product" style="background-image: url({{ product.image.url }}); background-size: contain">
                        <div class="product-text">
                            <a href="{% url 'products:product' product.pk %}" class="product-link"><img src="{% static 'img/arrow.svg' %}" alt="arrow"></a>
                            <h3 class="product-h3">{{ product.name }}</h3>
                            <p class="product-p">{{ product.description }}</p>
                        </div>
                    </div>
                {% endfor %}

            </div>
        </section>
        <section class="promo-product">
            <div class="promo-content" style="background-image: url(../../../static/img/promo-img1.jpg)">
                <div class="promo-text">
                    <h4 class="promo-h4">Exclusive</h4>
                    <h2 class="promo-h2">Fishnet Chair</h2>
                    <p class="promo-p">Seat and back with upholstery made of cold cure foam. Steel frame, available in matt</p>
                    <a href="#" class="button">order us</a>
                </div>
            </div>
            <div class="promo-content" style="background-image: url(../../../static/img/promo-img.jpg)">
                <div class="promo-text">
                    <h4 class="promo-h4">Exclusive</h4>
                    <h2 class="promo-h2">Fishnet Chair</h2>
                    <p class="promo-p">Seat and back with upholstery made of cold cure foam. Steel frame, available in matt</p>
                    <a href="#" class="button">order us</a>
                </div>
            </div>
        </section>
        <section class="trending-products padding-site">
            <div class="trending-top">
                <h2 class="trending-title">Trending Products</h2>
                <a href="#" class="explore">explore all</a>
            </div>
            <div class="trending-box">

                {% for product in trending_products %}
                    <div class="trending-item" style="background-image: url({{ product.image.url }}); background-size: contain">
                        <div class="product-text">
                            <a href="{% url 'products:product' product.pk %}" class="product-link"><img src="{% static 'img/arrow.svg' %}" alt="arrow"></a>
                            <h3 class="product-h3">{{ product.name }}</h3>
                            <p class="product-p">{{ product.description }}</p>
                        </div>
                    </div>
                {% endfor %}

            </div>
        </section>
        <section class="slider padding-site" style="background-image: url(../../../static/img/slider.jpg)">
            <div class="deal-slider-text">
                <h4 class="slider-h4 red">Hot Deal</h4>
                <h2 class="slider-h2">Fishnet Chair</h2>
                <p class="slider-p">
                    Seat and back with upholstery made of cold cure foam. Steel frame, available in matt powder-coated black
                </p>
                <a href="#" class="button">order us</a>
            </div>
            <div class="slider-pagination">
                <a href="#" class="circle"></a>
                <a href="#" class="circle circle-active"></a>
                <a href="#" class="circle"></a>
            </div>
        </section>
        <section class="exclusive-products padding-site">
            <div class="exclusive-box" style="background-image: url(../../../static/img/product-1-lg.jpg)">
                <div class="exclusive-text">
                    <h4 class="promo-h4">Exclusive</h4>
                    <h2 class="promo-h2">Fishnet Chair</h2>
                    <p class="promo-p">
                        Seat and back with upholstery made of cold cure foam. Steel frame, available in matt
                    </p>
                    <a href="#" class="button">order us</a>
                </div>
            </div>
            <div class="exclusive-items">

                {% for product in products %}
                    <div class="exclusive-item" style="background-image: url({{ product.image.url }}); background-size: contain">
                        <div class="product-text">
                            <a href="{% url 'products:product' product.pk %}"" class="product-link"><img src="{% static 'img/arrow.svg' %}" alt="arrow"></a>
                            <h3 class="product-h3">{{ product.name }}</h3>
                            <p class="product-p">{{ product.description }}</p>
                        </div>
                    </div>
                {% endfor %}

            </div>
        </section>
        <section class="mobile-app" style="background-image: url(../../../static/img/back-img.jpg)">
            <div class="mobile-text">
                <h4 class="mobile-h4">MOBILE APP</h4>
                <h2 class="mobile-h2">Find. Follow. Favorite.</h2>
                <p class="mobile-p">
                    Save your favorites and share your style.
                </p>
                <a href="#" class="app-btn"><img src="/static/img/app-store.png" alt="app-store"></a>
                <a href="#" class="app-btn"><img src="/static/img/google-play.png" alt="google-play"></a>
            </div>
        </section>
    </div>
{% endblock %}
