{% extends 'mainapp/base.html' %}

{% load static %}

{% block title %}
    {{ title|capfirst }}
{% endblock %}

{% block header %}
    <header class="header grey">
        <div class="container">
            <div class="catalog padding-site">

                {% include 'mainapp/includes/inc_menu.html' %}
                <h1 class="catalog-title">{{ category.name }}</h1>

            </div>
        </div>
    </header>
    {{ links_menu.href.1 }}
{% endblock %}


{% block content %}
    <div class="container">
        <section class="catalog-products padding-site">
            <div class="catalog-products-top">

                {% include 'mainapp/includes/inc_categories_menu.html' %}

                <!--
                <div class="catalog-tab-control">
                    <a href="#" class="tab-link tab-link-active">All</a>
                    <a href="#" class="tab-link tab-link-preactive">Home</a>
                    <a href="#" class="tab-link tab-link-preactive">Office</a>
                    <a href="#" class="tab-link">Furniture</a>
                    <a href="#" class="tab-link">Modern</a>
                    <a href="#" class="tab-link">Classic</a>
                </div>
                -->

            </div>
            <div class="catalog-box">

                {% for product in products %}
                    <div class="catalog-item" style="background-image: url({{ product.image.url }}); background-size: contain">
                        <div class="product-text">
                            <a href="{% url 'products:product' product.pk %}" class="product-link"><img src="{% static 'img/arrow.svg' %}" alt="arrow"></a>
                            <h3 class="product-h3">{{ product.name }}</h3>
                            <p class="product-p">{{ product.description }}</p>
                        </div>
                    </div>
                {% endfor %}

            </div>
            <div class="upload-block">
                <a href="#" class="upload-link"><img src="{% static 'img/arrow.svg' %}" alt="arrow"></a>
            </div>
        </section>
        <section class="promo-product">



            <div class="promo-content" style="background-image: url(../../../static/img/promo-img1.jpg)">
                <div class="promo-text">
                    <h4 class="promo-h4">Exclusive</h4>
                    <h2 class="promo-h2">Fishnet Chair</h2>
                    <p class="promo-p">Seat and back with upholstery made of cold cure foam. Steel frame, available in matt</p>
                    <a href="#" class="button">order us</a>
                </div>
            </div>

            <div class="promo-content" style="background-image: url(../../../static/img/promo-img.jpg)">
                <div class="promo-text">
                    <h4 class="promo-h4">Exclusive</h4>
                    <h2 class="promo-h2">Fishnet Chair</h2>
                    <p class="promo-p">Seat and back with upholstery made of cold cure foam. Steel frame, available in matt</p>
                    <a href="#" class="button">order us</a>
                </div>
            </div>
        </section>
    </div>
{% endblock %}